<ion-header [translucent]="true">
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="subscription__container">
    <h2>Suscripción Premium</h2>
    <p>Descarga imágenes sin limites y apoya nuestro proyecto</p>

    <div class="sub_card">
      <ion-icon name="diamond-outline"></ion-icon>
      <div class="sub_card_text">
        <h4>Mensual</h4>
        <p>$1 USD / ${{monthlyPrice}} CLP</p>
      </div>
    </div>

    <div class="sub_card">
      <ion-icon name="diamond-outline"></ion-icon>
      <div class="sub_card_text">
        <h4>Anual</h4>
        <p>$10 USD / ${{yearlyPrice}} CLP</p>
      </div>
    </div>
  </div>

</ion-content>
