<ion-content>
  <div class="login-wrapper">
    <app-animated-logo></app-animated-logo>

    <form>
      <ion-item>
        <ion-input labelPlacement="floating" [(ngModel)]="user" name="user">
          <div slot="label" class="input-label">Usuario</div>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="floating" type="password" [(ngModel)]="password" name="password">
          <div slot="label" class="input-label">Contraseña</div>
        </ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-button" (click)="login()">Iniciar Sesión</ion-button>
    </form>

    <div class="signup-link">
      <p>¿No tienes cuenta? <a href="/register">Regístrate</a></p>
    </div>
  </div>
</ion-content>
