<ion-content>
  <div class="login-wrapper">
    <div class="logo-container">
      <img src="assets/images/logo.png" alt="Logo" class="logo">
    </div>

    <form>
      <ion-item>
        <ion-input labelPlacement="floating">
          <div slot="label" class="input-label">Correo Electrónico</div>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input labelPlacement="floating" type="password">
          <div slot="label" class="input-label">Contraseña</div>
        </ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-button">Iniciar Sesión</ion-button>
    </form>

    <div class="signup-link">
      <p>¿No tienes cuenta? <a href="#">Regístrate</a></p>
    </div>
  </div>
</ion-content>
