.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  color: white;
}

form {
  width: 100%;
  max-width: 400px;
  background-color: #171a21;
  padding: 20px;
  border-radius: 15px;
}

ion-item {
  margin-bottom: 15px;
  border-radius: 15px;
}

.input-label{
  color: rgb(197, 197, 197);
}

.login-button {
  margin-top: 20px;
}

.signup-link {
  margin-top: 15px;
  text-align: center;
}

.signup-link a {
  color: #3880ff;
  text-decoration: none;
}

::ng-deep ion-input .native-input {
  color: white !important;
}

ion-input, ion-item {
  --background: #32353c;
}
