.waviy__container {
  position: relative;
  margin-left: 10px;
}
.waviy__container span {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
  color: #ffffff;
  animation: flip 4.5s infinite;
  animation-delay: calc(.30s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}
